
body {
    font-family: 'Poppins', sans-serif;
}

.top-banner {
    background-image: url(../img/top-banner.png);
    height: 600px;
    background-repeat: no-repeat;
}

.half-width {
    float: left;
    width: 40%;
    margin-left: 5%;
    padding: 2%;
}

.half-width h1 {
    font-size: 2em;
}

.half-width h3 {
    font-size: 1.5em;
}

.orange-highligted {
    color: rgb(223, 109, 16);
}

.half-width img {
    width: 100%;
}

.button1 {
    text-decoration: none;

    background-color: hotpink;
    padding: 10px 20px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 1.5vm;
    font-weight: bolder;
}

section2 {
    float: left;
}

.hw1 {
    float: left;
    width: 20%;
    
    padding: 2%;
}

.hw2 img {
    float: right;
    height: 20%;
    
    padding: 2%;
}
.h11{
text-align: left;
}
.exp-area{
background-image: url(../img/exp-bg.png);
}
.single-exp{

}
